<% require 'date' %>
<% provide(:title, "出勤中社員一覧") %>
<br><br>
<h1>出勤中社員一覧</h1>

<div class = "container">
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% user.attendances.each do |attendance| %>
          <% if !attendance.started_at.nil? && attendance.finished_at.nil? && attendance.worked_on == Date.today %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
            <tr>
          <% end %>        
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
