<% provide(:title, "勤怠ログ") %>
<br><br>
<h1>勤怠ログ</h1>
<div class = "container">
  
  
  <table class="table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>指示者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @last_day %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>
  </table>
</div>

