<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
     エラーが<%= pluralize(@user.errors.count, "箇所あります。") %>
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %>。</li>
    <% end %>
    </ul>
  </div>
<% end %>