<% provide(:title, "拠点一覧") %>
<br><br>
<h1>拠点一覧</h1>

<div class = "container">
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>勤怠種類</th>
      </tr>
    </thead>
    <tbody>
      <% @bases.each do |base| %>
        <%= render 'info', object: base %>
      <% end %>
    </tbody>
  </table>
</div>
<div class = "container">
  <%= link_to "拠点情報追加", new_basis_path, remote: true, class: "btn btn-primary" %>
  <div class="modal fade" id="base-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

